.modal__back {
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	top: 0;
	display: none;
	background: rgba($color: #000000, $alpha: 0.5);
}

.modal__window {
	padding: 25px;
	border-radius: 10px;
	background-color: #fff;
	min-width: 250px;
}

.modal__back.active {
	display: flex;
	justify-content: center;
	align-items: center;
}
