* {
	padding:0;
	margin: 0;
	box-sizing: border-box;
}

html{
	background-color: black;
}

#root{	
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.App {
	width: 800px;
}

.post {
}

.post-enter {
	opacity: 0;
}
.post-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}
.post-exit {
	opacity: 1;
}
.post-exit-active {
	opacity: 0;
	transition: opacity 500ms ease-in;
}
